



@media(max-width : 991px){
    .react_ui_circle_navbar_div{
        position: fixed;
        top: 0;
        left: 0;
        width: 320px;
        height: 100vh;
        transition: transform .2s linear;
        transform: translateX(-100%);
    }
    .react_ui_circle_navbar_div_collapes{
        transition: transform .2s linear;
        transform: translateX(0%);
    }
}

@media(max-width : 500px){
    .react_ui_circle_navbar_div{
        width: 100% !important;
    }
}